@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Models.AddBookBindingModel

<!DOCKTYPE>
<html>
    <head>
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>

  <body>
      <div style="display: flex;justify-content: center">
        <h3>Add book</h3>
      </div>
      <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
          <div style="display: flex flex-direction: column; align-items: start">
            <form asp-controller="Book" asp-action="AddBook" method="post"
                      style="gap: 5px; display: flex; flex-direction: column; min-width: 50vw; width: 100%;">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
                <br />
                <label asp-for="CountOfPages"></label>
                <input asp-for="CountOfPages" />
                <span asp-validation-for="CountOfPages"></span>
                <br />
                <label asp-for="Genre"></label>
                <select asp-for="Genre">
                    <option value=""> </option>
                    <option value="Жахи">Жахи</option>
                    <option value="Роман">Роман</option>
                    <option value="Казка">Казка</option>
                    <option value="Поезія">Поезія</option>
                    <option value="Сонет">Сонет</option>
                    <option value="Драма">Драма</option>
                </select>
                <span asp-validation-for="Genre"></span>
                <br />
                <label asp-for="AuthorId"></label>
                <input asp-for="AuthorId" />
                <span asp-validation-for="AuthorId"></span>
                <br />
                <div asp-validation-summary="ModelOnly"></div>
                <button type="submit">Add</button>
            </form>
          </div>
      </div>
  </body>
</html>
